.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    height: 60px;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}
